<div>
    <mat-card>
        <mat-card-header class="header">
            <mat-card-title>
                <h3>Agregar nuevo ingrediente</h3>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div>
                <mat-form-field>
                    <textarea matInput [(ngModel)]="description" class="textarea" placeholder="Descripción"></textarea>
                </mat-form-field>
            </div>
            <button mat-button (click)="onNoClick()">Cancelar</button>
            <button mat-button (click)="acceptDialog()">Aceptar</button>
        </mat-card-content>
    </mat-card>
</div>