<div>
    <br>
    <mat-toolbar class="toolbar">
        <mat-toolbar-row>
            <br>
            <span class="example-fill-remaining-space"></span>
            <span class="align-center"></span>
            <span class="example-spacer"></span>
            <img class="toolbar-img" src="assets/img/siri.png">
            <div>
                <button mat-button routerLink="/grocerylist">Mis listas</button>
                <button mat-button routerLink="/reminder">Mis recordatorios</button>
                <button mat-button routerLink="/recipes">Mis recetas</button>
                <button mat-button routerLink="/login">Cerrar Sesión</button>
                <!-- <button mat-button routerLink="/">Register</button> -->
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</div>
<br>
<router-outlet></router-outlet>
<br>
<br>
<br>
<br>