<div class="main-div">
    <div>
        <mat-card class="main-card">
            <mat-card-header class="header">
                <mat-card-title>
                    <h3>Agregar nueva lista</h3>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <br>
                <br>
                <mat-card class="sub-card">
                    <h2>Datos del nuevo recordatorio</h2>
                    <mat-card-content>
                        <mat-form-field class="mid-form-field">
                            <textarea matInput placeholder="Descripción" [(ngModel)]="descripcion" ></textarea>
                        </mat-form-field>
                        <br>
                        <mat-form-field class="mid-form-field">
                            <input matInput placeholder="¿Que quieres que te recordemos?" [(ngModel)]="mensaje">
                        </mat-form-field>
                        <br>
                        <mat-form-field class="mid-form-field">
                            <input matInput type="date" placeholder="Fecha" [(ngModel)]="fecha">
                        </mat-form-field>
                    </mat-card-content>
                    <button mat-button color="primary">Aceptar</button>
                    <button mat-button color="primary">Cancelar</button>
                </mat-card>
            </mat-card-content>
        </mat-card>
    </div>
</div>